<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://ifgafrica.org.za/academy.html">
                       Johannesbug Hotel
                    </a>
                </li>
                <li>
                    <a   routerLink="/dashboard">
                        About Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
        </div>
    </div>
</footer>
