<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                    <form [formGroup]="profileModel" autocomplete="off" (submit)="onSubmit()">

                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput  formControlName="FirstName" placeholder="Fist Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput  formControlName="Surname" placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput  formControlName="Username" placeholder="User Name" type="text">
                              </mat-form-field>
                            </div>
                        </div>

                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
              <div class="card" *ngFor="let room of roomsAvailable">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{room.roomName}}</h4>
                  <p class="card-category">
                    <i class="material-icons text-danger">house</i>
                    <a href="#pablo">Room no: {{room.roomNumber}}</a>
                  </p>
                </div>
                <div class="card-body">
                  <span class="badge rounded-pill text-bg-warning">{{room.startDate | date}}</span> -
                  <span class="badge rounded-pill text-bg-warning">{{room.endDate | date }}</span>
                  <hr>
                  <h5 class="card-title">Amenities
                  </h5>
                  <ul *ngFor="let amenity of room.amenities ">
                    <li>{{amenity.Name}}</li>
                  </ul>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <mat-chip color="primary" selected style="font-size: 16px; font-weight: bold;">Booked</mat-chip>
                  </div>

                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button mat-raised-button color="danger"  (click)="Book(room)" class="btn orange">Cancel Booking</button>
                </div>
                </div>

              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
