
<div>
  <img src="./assets/logo-only.png" alt="Hello" class="img">
<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Subject</h4>
                    <p class="card-category"> List of subjects offered atJohannesbug Hotel</p>
                    <div class="align-left float-right">
                    <button class="addbutton" mat-icon-button style="font-size: xx-large" (click)="AddSubject()"
                    title="Add Subject">
                     <mat-icon>add</mat-icon>
                  </button>
                  </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="query" id="listSearch">
                      </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Subject
                                </th>
                                <th>
                                    Edit
                                </th>
                                <th>
                                    Delete
                                </th>

                            </thead>
                            <tbody>


                                <tr *ngFor="let subject  of subjects| filter: query" >
                                    <td>
                                      {{subject.SubjectDesc}}
                                    </td>
                                    <td >
                                      <button mat-icon-button (click)="EditSubject(subject)"
                                         title="Edit subject">
                                          <mat-icon>edit</mat-icon>
                                       </button>
                                    </td>
                                      <td >
                                        <button mat-icon-button (click)="RemoveSubject(subject.SubjectId)"
                                           title="Delete subject">
                                            <mat-icon >delete</mat-icon>
                                         </button>
                                    </td>
                                  </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>