<div>
    <img src="https://m.economictimes.com/thumb/msid-89465809,width-1254,height-836,resizemode-4,imgsize-28786/indian-hotels.jpg" alt="Hello" class="img">
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <mat-card class="card-border-left">
                    <mat-card-content>
                        <h1 class="title" >
                           Welcome to Johannesbug Hotel
                        </h1>
                        <br>
                        <br>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <br>
  </div>
