<div>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title ">Hotel rooms</h4>
              <p class="card-category"> List of rooms within the hotel</p>
              <button class="addbutton" mat-icon-button style="font-size: xx-large" (click)="addRoom()">
                     <mat-icon>add</mat-icon>
                  </button>
            </div>
            <div class="card-body">

              <app-table [data]="rooms" style="background-image: url('./assets/logo-only.png')">
                <ng-template #headers>
                  <th>Room Number</th>
                  <th>Room Name</th>
                  <th>Type</th>
                  <th></th>
                </ng-template>
                <ng-template #rows let-row >
                  <td>{{ row.RoomNumber  }}</td>
                  <td>{{ row.RoomName }}</td>
                  <td>{{ row.RoomType }}</td>
                  <td>
                    <button mat-button color="danger" (click)="removeRoom(row.id)"> <mat-icon >restore_from_trash</mat-icon></button>
                      <button mat-button color="danger" (click)="editRoom(row)"> <mat-icon >edit</mat-icon></button>
                  </td>
                </ng-template>
              </app-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>